mixin footer(data)
    .footer
        .container
            .footer__top
                .footer__column1
                    .footer__title О нас
                    .footer__link-wrapper
                        a.footer__link(href="#") О компании
                    .footer__link-wrapper
                        a.footer__link(href="#") Отзывы
                    .footer__link-wrapper
                        a.footer__link(href="#") Мы и СМИ
                    .footer__link-wrapper
                        a.footer__link(href="#") База знаний
                    .footer__link-wrapper
                        a.footer__link(href="#") Контакты
                    .footer__link-wrapper
                        a.footer__link(href="#") Лента событий
                .footer__column2
                    .footer__title Сервис
                    .footer__link-wrapper
                        a.footer__link(href="#") Условия доставки
                    .footer__link-wrapper
                        a.footer__link(href="#") Условия оплаты
                    .footer__link-wrapper
                        a.footer__link(href="#") Условия возврата
                    .footer__link-wrapper
                        a.footer__link(href="#") Оптовикам
                    .footer__link-wrapper
                        a.footer__link(href="#") Гарантиийные обязательства
                    .footer__link-wrapper
                        a.footer__link(href="#") Конфиденциальность
                .footer__column3
                    .footer__title Способы оплаты
                    .footer__payment
                        a.footer__item(href="#", style="background: url('static/img/general/webmoney.jpg') no-repeat center")
                        a.footer__item(href="#", style="background: url('static/img/general/qiwi.jpg') no-repeat center")
                        a.footer__item(href="#", style="background: url('static/img/general/mastercard.jpg') no-repeat center")
                        a.footer__item(href="#", style="background: url('static/img/general/svyaznoy.jpg') no-repeat center")
                        a.footer__item(href="#", style="background: url('static/img/general/yandex.jpg') no-repeat center")
                        a.footer__item(href="#", style="background: url('static/img/general/visa.jpg') no-repeat center")
                .footer__column4
                    .footer__title Способы доставки
                    a.footer__delivery-link.footer__delivery-link--1(href="#")
                    a.footer__delivery-link.footer__delivery-link--2(href="#")
                    a.footer__delivery-link.footer__delivery-link--3(href="#")
            .footer__bottom
                .footer__year © 2016 «PEST 911»
                .footer__social-wrapper
                    a.footer__social.footer__social--1(href="#")
                    a.footer__social.footer__social--2(href="#")
                    a.footer__social.footer__social--3(href="#")
                    a.footer__social.footer__social--4(href="#")
                .footer__copyright
                    |   Создание сайта — компания&nbsp;
                    a.footer__picom-link(href="#")   «Пиком»
