mixin main(data)
    main.main
        .container
            .block1
                .block1__features-wrap
                    .block1__feature.block1__feature--1
                        a.block1__link(href="#") Оптовикам
                        p.block1__text Приглашаем к сотрудничеству организации и физических лиц для работы в качестве наших дилеров или торговых представителей.
                    .block1__feature.block1__feature--2
                        a.block1__link(href="#") Задать вопрос
                        p.block1__text Если у вас возникли вопросы, то наши эксперты «REST 911» обязательно ответят на них!
                    .block1__feature.block1__feature--3
                        a.block1__link(href="#") Видео
                        p.block1__text Полезные советы по борьбе с вредителями в саду, дома и на производстве.
                .block1__slider
                    .block1__slide(style="background-image: url('static/img/general/slide3.jpg');")
                    .block1__slide(style="background-image: url('static/img/general/slide4.jpg');")
                    .block1__slide(style="background-image: url('static/img/general/slide3.jpg');")
            .block2
                .block2__nav
                    .block2__nav-link Новинки
                    .block2__nav-link Рекомендуем
                    .block2__nav-link Хиты продаж
                    .block2__nav-link Акции
                    .block2__nav-link Бренды
                .block2__slider
                    .block2__slide
                        .block2__slide-wrapper
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info Крысоловка Swissinno SuperCat
                                    span.block2__price
                                        span  3 200
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap2.jpg", alt="trap")
                                    span.block2__item-info Victors Электронный уничтожитель грызунов
                                    span.block2__price
                                        span  2 850
                                        |  руб.
                    .block2__slide
                        .block2__slide-wrapper
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info Крысоловка Swissinno SuperCat
                                    span.block2__price
                                        span  3 200
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info Victors Электронный уничтожитель грызунов
                                    span.block2__price
                                        span  2 850
                                        |  руб.
                    .block2__slide
                        .block2__slide-wrapper
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap2.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap2.jpg", alt="trap")
                                    span.block2__item-info Крысоловка Swissinno SuperCat
                                    span.block2__price
                                        span  3 200
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap2.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap2.jpg", alt="trap")
                                    span.block2__item-info Victors Электронный уничтожитель грызунов
                                    span.block2__price
                                        span  2 850
                                        |  руб.
                    .block2__slide
                        .block2__slide-wrapper
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info Крысоловка Swissinno SuperCat
                                    span.block2__price
                                        span  3 200
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info Victors Электронный уничтожитель грызунов
                                    span.block2__price
                                        span  2 850
                                        |  руб.
                    .block2__slide
                        .block2__slide-wrapper
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info Крысоловка Swissinno SuperCat
                                    span.block2__price
                                        span  3 200
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap1.jpg", alt="trap")
                                    span.block2__item-info «Коготь» SuperCat Ловушка для мышей
                                    span.block2__price
                                        span  19 890
                                        |  руб.
                            .block2__item
                                a.block2__link(href="#")
                                    img(src="static/img/general/trap.jpg", alt="trap")
                                    span.block2__item-info Victors Электронный уничтожитель грызунов
                                    span.block2__price
                                        span  2 850
                                        |  руб.
            .block3
                h1.block3__title Топ вредителей
                .block3__wrapper
                    a.block3__link(href="#")
                        span.block3__picture(style="background: url('static/img/general/insect1.jpg') no-repeat center")
                        span.block3__link-info Комары
                    a.block3__link(href="#")
                        span.block3__picture(style="background: url('static/img/general/insect2.jpg') no-repeat center")
                        span.block3__link-info Тараканы
                    a.block3__link(href="#")
                        span.block3__picture(style="background: url('static/img/general/squirrel.jpg') no-repeat center")
                        span.block3__link-info Грызуны
                    a.block3__link(href="#")
                        span.block3__picture(style="background: url('static/img/general/bird.jpg') no-repeat center")
                        span.block3__link-info Птицы
                    a.block3__link(href="#")
                        span.block3__picture(style="background: url('static/img/general/mouse.jpg') no-repeat center")
                        span.block3__link-info Мыши
                    a.block3__link(href="#")
                        span.block3__picture(style="background: url('static/img/general/rat.jpg') no-repeat center")
                        span.block3__link-info Крысы
            .block4
                .block4__column1
                    h2.block4__title Видео
                    .block4__video
                        iframe(src='https://www.youtube.com/embed/vzHrjOMfHPY?rel=0', allowfullscreen='')
                .block4__column2
                    h3.block4__title Отзывы
                    .block4__wrapper
                        .block4__user-picture(style="background: url('static/img/general/user.jpg') no-repeat center")
                        .block4__user-info
                            p.block4__user-name Ларина Светлана
                            p.block4__user-job Садовод-любитель. Стаж 2 года
                    p.block4__user-opinion
                        span.block4__quotes  «
                        |  Кстати, насчет кротов, был случай: крот проделал ход под сараем. Откопали нору, направили туда отпугиватель. За неделю крот ушел незнамо куда. На улице такие эксперименты не проводила.
                        span.block4__quotes  »
                    a.block4__link(href="#") Посмотреть все отзывы
                .block4__column3
                    h4.block4__title Подписаться
                    p.block4__text Подпишитесь на рассылку, чтобы первыми узнавать о наших новинках и получать призы
                    form.block4__form(action="#", method="post")
                        .block4__input-wrapper
                            input.block4__input(type="email", name="email", required, placeholder="*Эл. почта")
                        .block4__input-wrapper
                            input.block4__input(type="text", name="name", placeholder="Имя")
                        button.block4__submit(type="submit") Подписаться
                    p.block4__info
                        |  Заполните
                        a.block4__survey(href="#")  анкету
                        |  и получайте индивидуальные предложения!
