.main
    display block
    width 100%
.block1
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    flex-wrap wrap
    width 100%
    @media (max-width: 767px)
        margin-top 20px
    &__features-wrap
        display flex
        flex-direction column
        align-items flex-start
        justify-content space-between
        width calc(100% - 630px)
        height 330px
        @media (max-width: 990px)
            width calc(100% - 468px)
            display block
            height auto
        @media (max-width: 767px)
            order 2
            width 630px
            margin-left auto
            margin-right auto
            margin-top 20px
        @media (max-width: 680px)
            width 100%
    &__feature
        display block
        position relative
        padding-left 70px
        padding-top 12px
        padding-right 25px
        &:last-child
            margin-bottom 0
        @media (max-width: 990px)
            padding-left 50px
            padding-top 8px
            padding-right 10px
        @media (max-width: 767px)
            margin-bottom 17px
            padding-right 0
    &__feature:after
        position absolute
        content ''
        top 0
        left 0
        width 39px
        height 39px
        border-radius 50%
        border 3px solid #82c044
        @media (max-width: 990px)
            width 30px
            height 30px
    &__feature--1:after
        background url('../img/general/cube.png') no-repeat center
    &__feature--2:after
        background url('../img/general/question.png') no-repeat center
    &__feature--3:after
        background url('../img/general/play.png') no-repeat 14px center
        @media (max-width: 990px)
            background url('../img/general/play.png') no-repeat 10px center
    &__link
        color #303030
        font-size 18px
        font-weight 700
        position relative
        transition color 0.4s ease-out
        &:after
            position absolute
            content ''
            width 100%
            height 2px
            left 0
            bottom 0
            background #82c044
        &:hover
            color #82c044
    &__text
        display block
        width 100%
        color #909090
        padding-top 7px
    &__slider
        display block
        width 630px
        height 330px
        border-radius 3px
        overflow hidden
        @media (max-width: 990px)
            width 468px
            height 245px
        @media (max-width: 767px)
            order 1
            width 630px
            height 330px
            margin-left auto
            margin-right auto
        @media (max-width: 680px)
            width 320px
            height 168px
        .slick-prev
            position absolute
            left 0
            top 50%
            transform translateY(-50%)
            z-index 2
            font-size 0
            border 0
            width 40px
            height 40px
            background url('../img/general/prev2.png') no-repeat center
            &:hover
                background url('../img/general/prev-hover.png') no-repeat center
        .slick-next
            position absolute
            right 0
            top 50%
            transform translateY(-50%)
            z-index 2
            font-size 0
            border 0
            width 40px
            height 40px
            background url('../img/general/next2.png') no-repeat center
            &:hover
                background url('../img/general/next-hover.png') no-repeat center
        .slick-dots
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            flex-wrap wrap
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 10px
            li
                margin-right 8px
                &:last-child
                    margin-right 0
            button
                display block
                padding 0
                border 0
                font-size 0
                width 8px
                height 8px
                background #909090
                border-radius 50%
            .slick-active
                button
                    background #f6b213
    &__slide
        display block
        width 100%
        height 330px
        background-position center
        background-repeat no-repeat
        background-size cover
        @media (max-width: 990px)
            height 245px
        @media (max-width: 767px)
            height 330px
        @media (max-width: 680px)
            height 168px
.block2
    display block
    width 100%
    margin-top 31px
    @media (max-width: 767px)
        margin-top 16px
    &__nav
        display block
        width 100%
        background #82c044
        border-top-left-radius 3px
        border-top-right-radius 3px
        .slick-current
            color #fff
        .slick-current:after
            border-color transparent transparent #ececec transparent
    &__nav-link
        display block
        color #000000
        text-transform uppercase
        cursor pointer
        text-align center
        transition color 0.3s linear
        padding-top 14px
        padding-bottom 13px
        position relative
        &:after
            position absolute
            content ''
            left 50%
            transform translateX(-50%)
            bottom 0
            width 0
            height 0
            border-style solid
            border-width 0 15px 9px 15px
            border-color transparent transparent transparent transparent
            transition border-color 0.3s linear
        &:hover
            color #ffffff
        @media (max-width: 700px)
            font-size 12px
            padding-top 10px
            padding-bottom 10px
        @media (max-width: 580px)
            font-size 10px
        @media (max-width: 450px)
            font-size 8px

    &__slider
        display block
        width 100%
        background #ececec
        border-bottom-left-radius 3px
        border-bottom-right-radius 3px
        @media (max-width: 580px)
            padding-top 7px
        .slick-prev
            position absolute
            left 4px
            top 50%
            transform translateY(-50%)
            z-index 2
            font-size 0
            border 0
            width 40px
            height 40px
            background url('../img/general/prev.png') no-repeat center
            &:hover
                background url('../img/general/prev-hover.png') no-repeat center
        .slick-next
            position absolute
            right 4px
            top 50%
            transform translateY(-50%)
            z-index 2
            font-size 0
            border 0
            width 40px
            height 40px
            background url('../img/general/next.png') no-repeat center
            &:hover
                background url('../img/general/next-hover.png') no-repeat center
    &__slide
        width 100%
        height 273px
        @media (max-width: 990px)
            height 480px
        @media (max-width: 580px)
            height auto
            padding-bottom 8px
    &__slide-wrapper
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        padding-left 50px
        padding-right 50px
        align-items center
        justify-content space-between
        width 100%
        height 100%
        @media (max-width: 990px)
            justify-content space-around
        @media (max-width: 580px)
            justify-content center
            padding-left 50px
            padding-right 50px
    &__item
        width 20%
        @media (max-width: 1024px)
            width auto
        @media (max-width: 990px)
            width 40%
        @media (max-width: 580px)
            width 100%
            margin-top 8px
            margin-bottom 7px
    &__link
        display block
        width 100%
        padding-bottom 7px
        background #fbfbfb
        border-radius 3px
        border 2px solid #fbfbfb
        transition border 0.4s ease-out
        &:hover
            border 2px solid #82c044
        img
            margin-left auto
            margin-right auto
        @media (max-width: 1024px)
            width 174px
        @media (max-width: 990px)
            width 100%
    &__item-info
        display block
        text-align center
        color #303030
        padding-left 5px
        padding-right 5px
        margin-bottom 11px
        @media (max-width: 767px)
            max-height 36px
            overflow hidden
    &__price
        display block
        text-align center
        color #303030
        font-size 14px
        font-weight 400
        line-height 20px
        span
            font-weight 700
            font-size 20px
            line-height 20px
.block3
    display block
    width 100%
    margin-top 39px
    @media (max-width: 767px)
        margin-top 16px
    &__title
        color #303030
        font-family "PT Sans Caption", sans-serif
        font-size 24px
        font-weight 400
        line-height 24px
        text-transform uppercase
        padding-bottom 36px
        @media (max-width: 990px)
            text-align center
            font-size 18px
        @media (max-width: 767px)
            padding-bottom 15px
    &__wrapper
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        align-items flex-start
        justify-content space-between
        border-bottom 1px solid #ececec
        padding-bottom 42px
        @media (max-width: 1024px)
            justify-content center
        @media (max-width: 990px)
            padding-bottom 0
            justify-content space-around
    &__link
        display block
        text-align center
        &:last-child
            margin-right 0
        &:hover .block3__picture
            border 2px solid #82c044
        &:hover .block3__link-info
            color #82c044
        &:hover .block3__link-info:after
            background transparent
        @media (max-width: 1024px)
            margin-right 40px
        @media (max-width: 990px)
            margin-bottom 40px
            margin-right 0
            padding-left 5px
            padding-right 5px
        @media (max-width: 767px)
            margin-bottom 19px
    &__picture
        display block
        width 126px
        height 126px
        border-radius 50%
        border 2px solid transparent
        transition border 0.4s ease-out
        margin-bottom 16px
    &__link-info
        display inline
        text-align center
        position relative
        color #303030
        font-size 18px
        font-weight 700
        line-height 20px
        transition color 0.4s ease-out
        &:after
            position absolute
            content ''
            width 100%
            height 2px
            background #82c044
            left 0
            bottom 0
            transition background 0.4s ease-out
.block4
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content flex-start
    width 100%
    padding-top 38px
    padding-bottom 48px
    @media (max-width: 990px)
        padding-bottom 28px
    @media (max-width: 767px)
        padding-top 17px
        padding-bottom 16px
    &__column1
        width 25%
        @media (max-width: 1300px)
            width 30%
        @media (max-width: 1024px)
            width 380px
        @media (max-width: 990px)
            width 100%
            margin-bottom 40px
        @media (max-width: 767px)
            margin-bottom 17px
    &__title
        display block
        color #303030
        font-family "PT Sans Caption", sans-serif
        font-size 24px
        font-weight 400
        line-height 24px
        text-transform uppercase
        @media (max-width: 990px)
            text-align center
            font-size 18px
    &__video
        display block
        width 100%
        height 214px
        margin-top 38px
        @media (max-width: 990px)
            width 380px
            margin-left auto
            margin-right auto
        @media (max-width: 767px)
            margin-top 16px
        @media (max-width: 580px)
            width 100%
    &__column2
        display block
        width 50%
        padding-left 40px
        padding-right 40px
        @media (max-width: 1300px)
            width 45%
        @media (max-width: 1024px)
            width 339px
            padding-left 20px
        @media (max-width: 990px)
            width 50%
            padding-right 15px
            padding-left 0
        @media (max-width: 580px)
            width 100%
            padding-right 0
    &__wrapper
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        align-items flex-start
        justify-content flex-start
        margin-bottom 10px
        margin-top 36px
        @media (max-width: 767px)
            margin-top 10px
    &__user-picture
        display block
        border-radius 50%
        overflow hidden
        width 78px
        height 78px
    &__user-info
        padding-left 14px
    &__user-name
        display block
        color #303030
        font-size 18px
        font-weight 700
        letter-spacing 0.32px
        padding-bottom 5px
    &__user-job
        display block
        color #909090
        max-width 145px
    &__user-opinion
        display block
        color #303030
        font-size 14px
        font-weight 400
        line-height 20px
        margin-bottom 10px
    &__quotes
        color #82c044
        font-size 20px
        line-height 20px
    &__link
        color #303030
        position relative
        transition color 0.4s ease-out
        &:hover
            color #82c044
        &:after
            position absolute
            content ''
            left 0
            bottom 0
            width 100%
            height 1px
            background #82c044
    &__column3
        display block
        width 25%
        @media (max-width: 1024px)
            width 220px
        @media (max-width: 990px)
            width 50%
        @media (max-width: 580px)
            width 100%
            margin-top 15px
    &__text
        display block
        color #909090
        margin-top 37px
        @media (max-width: 767px)
            margin-top 9px
    &__form
        display block
        width 100%
    &__input-wrapper
        display block
        width 100%
        border-bottom 2px solid #979797
    &__input
        display block
        width 100%
        border 0
        color #909090
        font-size 13px
        font-weight 400
        line-height 13px
        padding-top 15px
        padding-bottom 1px
    &__input::-webkit-input-placeholder
        color #909090
        opacity 1
    &__input::-moz-placeholder
        color #909090
        opacity 1
    &__input:-ms-input-placeholder
        color #909090
        opacity 1
    &__input:-moz-placeholder
        color #909090
        opacity 1
    &__submit
        display block
        width 100%
        border 0
        background #0675cb
        color #ffffff
        font-size 18px
        font-weight 700
        line-height 19px
        border-radius 3px
        padding-top 10px
        padding-bottom 10px
        text-align center
        margin-top 23px
        transition background 0.4s ease-out
        &:hover
            background #1595f8
    &__info
        display block
        width 100%
        color #909090
        margin-top 17px
    &__survey
        color #303030
        position relative
        transition color 0.4s ease-out
        &:hover
            color #82c044
        &:after
            position absolute
            content ''
            left 0
            bottom 0
            width 100%
            height 1px
            background #82c044
